body{
    position: 


}
header{
    background: #000000;
    position:normal;
    width:100%;
    
    

}


 div{
    color:#999;
    padding-right: 200px;
    display:inline;
}
h1 {
    text-align:center;
    position:normal;
    right:300px;
    top:120px;
}
p {
    
    position:normal;
    float:left;

}
 section{
    text-align:center;
    
}
section img{
    padding-right:15px;
    padding-left:15px;
}
p img{
    text-align:center;
    position:
}





